* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-container-todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 10%;
}



.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}

.navbar-links-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 8%;
  margin: 0 0.5rem 0 0.5rem;
}

.navbar-span {
  margin: 0 0 0 0.3rem;
}




